body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 20px;
}

header {
	background-color: #00192F;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer {
	clear: both;
}

footer p {
	font-size: 11px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.call_to_action {
	border-radius: 3px;
	color: white;
	float: right;
	margin: 20px;
	max-width: 200px;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
}

.texto {
	color: #4E4D4D;
}

.link {
	font-size: 18px;
	font-weight: 600;
	padding-top: 20px;
	text-align: center;
}

/* General - Start */
.headerGeneral {
	background-color: #0088FF;
}

.headerGeneral:hover {
	background-color: #0058A6;
}

.aGeneral:hover {
	background-color: #0088FF;
}

.titleGeneral {
	color: #0088FF;
}

.footerGeneral {
	background-color: #0088FF;
}
/* General - End */

/* Infantil - Start */
.headerInfantil {
	background-color: #98C21A;
}

.headerInfantil:hover {
	background-color: #708F13;
}

.aInfantil:hover {
	background-color: #98C21A;
}

.titleInfantil {
	color: #98C21A;
}

.footerInfantil {
	background-color: #98C21A;
}
/* Infantil - End */

/* Primaria - Start */
.headerPrimaria {
	background-color: #FFC000;
}

.headerPrimaria:hover {
	background-color: #DBA500;
}

.aPrimaria:hover {
	background-color: #FFC000;
}


.titlePrimaria {
	color: #FFC000;
}

.footerPrimaria {
	background-color: #FFC000;
}
/* Primaria - End */

/* Secundaria - Start */
.headerSecundaria {
	background-color: #7D7D7D;
}

.headerSecundaria:hover {
	background-color: #666666;
}

.aSecundaria:hover {
	background-color: #7D7D7D;
}


.titleSecundaria {
	color: #7D7D7D;
}

.footerSecundaria {
	background-color: #7D7D7D;
}
/* Secundaria - End */

/* Bachillerato - Start */
.headerBachillerato {
	background-color: #FF782E;
}

.headerBachillerato:hover {
	background-color: #A14C1D;
}

.aBachillerato:hover {
	background-color: #FF782E;
}


.titleBachillerato {
	color: #FF782E;
}

.footerBachillerato {
	background-color: #FF782E;
}
/* Bachillerato - End */


/* Menu - Start */
.main_nav {
	border-top: 1px solid #ffffff;
	clear: both;
	font-size: 16px;
	margin-top: 20px;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
}

.nav_main {
	background-color: #00192F;
}

.nav_main ul {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav_main ul li {
	float: left;
}

.nav_main ul li a {
	border-radius: 3px;
	color: #FFFFFF;
	display: block;
	margin: 0 10px;
	padding: 10px 15px;
	text-decoration: none;
}

.menu_bar {
	display: none;	
}
/* Menu - End */

footer div a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Slider style - Start */
#slider-box {
	-moz-animation: autoSlider 15s infinite linear;
	-o-animation: autoSlider 15s infinite linear;
	-webkit-animation: autoSlider 15s infinite linear;
	animation: autoSlider 15s infinite linear;

	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	transition: all 0.75s ease;

	height: 100%;
	width: 300%;
}

#slider-container {
	height: 20%;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	width: 100%;
}


.slider-element {
	float: left;
	width: 33.333%;
}

@-moz-keyframes autoSlider {
	0% {
		margin-left: 0;
}

30% {
	margin-left: 0;
}

35% {
	margin-left: -100%;
}

65% {
	margin-left: -100%;
}

70% {
	margin-left: -200%;
}

95% {
	margin-left: -200%;
}

100% {
	margin-left: 0;
}
}

@-webkit-keyframes autoSlider {
	0% {
		margin-left: 0;
}

30% {
	margin-left: 0;
}

35% {
	margin-left: -100%;
}

65% {
	margin-left: -100%;
}

70% {
	margin-left: -200%;
}

95% {
	margin-left: -200%;
}

100% {
	margin-left: 0;
}
}

@keyframes autoSlider {
	0% {
		margin-left: 0;
}

30% {
	margin-left: 0;
}

35% {
	margin-left: -100%;
}

65% {
	margin-left: -100%;
}

70% {
	margin-left: -200%;
}

95% {
	margin-left: -200%;
}

100% {
	margin-left: 0;
}
}
/* Slider style - End */

/* Form - Start */
#formulario {
	background-color: rgba(200, 200, 200, 0.4);
}

.formTitleGeneral {
	color: #0088ff;
}

.formTitleInfantil {
	color: #98C21A;
}

.formTitlePrimaria {
	color: #FFC000;
}

.formTitleSecundaria {
	color: #7D7D7D;
}

.formTitleBachillerato {
	color: #FF782E;
}

.feedback-input {
	color: #3c3c3c;
	font-weight: 500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
}

.focused {
	color: #30aed6;
	border: #30aed6 solid 3px;
}

#button {
	border: none;
	cursor: pointer;
	font-size: 24px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-weight: 700;
}

.btGeneral {
	background-color: #0088FF;
	color: white;
}

.btGeneral:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #0088FF;
}

.btInfantil {
	background-color: #98C21A;
	color: white;
}

.btInfantil:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #98C21A;
}

.btPrimaria {
	background-color: #FFC000;
	color: white;
}

.btPrimaria:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #FFC000;
}

.btSecundaria {
	background-color: #7D7D7D;
	color: white;
}

.btSecundaria:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #7D7D7D;
}

.btBachillerato {
	background-color: #FF782E;
	color: white;
}

.btBachillerato:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #FF782E;
}

.ease {
	width: 0px;
	height: 73px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease {
	background-color: white;
}
/* Form - End */

/* Mediaqueries - Start */
@media screen and (max-device-width: 319px) {
	.container {
		min-width: 319px;
}

header {
	padding-bottom: 35px;
}	

.escudo {
	background-image: url("../img/logo-46x55.png");
	background-repeat: no-repeat;
	display: block;
	float: left;
	margin-right: 10%;
	height: 55px;
	width: 46px;	
}

.call_to_action {
	float: left;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 50%;
}

.main_nav {
	margin: 0;
	padding: 0;
	border: none;
	clear: none;
}

.nav_main {
	width: 60%;
	/*height: 100%;*/
	left: -100%;
	margin: 34px 0 0 -5%;
	position: absolute;
	border-top: 1px solid rgba(255, 255, 255, .3);
}

.nav_main ul li {
	display: block;
	float: none;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	text-align: left;
}

.nav_main ul li a {
	border-radius: 0;
	margin: 0;
	padding-left: 15%;
}

.menu_bar {
	display: block;
	width: 100%;
	background-color: #CCCCCC;
}

.bt-menu {
	background-color: #00192F;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	padding: 7px 0 30px;
	text-decoration: none;
}

.menu_bar span {
	float: right;
	font-size: 35px;
}
	.dimImg {
		min-height: 200px;
		max-height: 100%;
		width: 100%;
	}

	.generalImg1 {
		background-image: url("../img/imgGen1-480x200.jpg");
	}
	
	.generalImg2 {
		background-image: url("../img/imgGen2-480x200.jpg");
	}
	
	.generalImg3 {
		background-image: url("../img/imgGen3-480x200.jpg");
	}

	.infantilImg1 {
		background-image: url("../img/imgInf1-480x200.jpg");
	}
	
	.infantilImg2 {
		background-image: url("../img/imgInf2-480x200.jpg");
	}
	
	.infantilImg3 {
		background-image: url("../img/imgInf3-480x200.jpg");
	}
	
	.primariaImg1 {
		background-image: url("../img/imgPri1-480x200.jpg");
	}
	
	.primariaImg2 {
		background-image: url("../img/imgPri2-480x200.jpg");
	}
	
	.primariaImg3 {
		background-image: url("../img/imgPri3-480x200.jpg");
	}

	.secundariaImg1 {
		background-image: url("../img/imgSec1-480x200.jpg");
	}
	
	.secundariaImg2 {
		background-image: url("../img/imgSec2-480x200.jpg");
	}
	
	.secundariaImg3 {
		background-image: url("../img/imgSec3-480x200.jpg");
	}
	
	.bachilleratoImg1 {
		background-image: url("../img/imgBac1-480x200.jpg");
	}
	
	.bachilleratoImg2 {
		background-image: url("../img/imgBac2-480x200.jpg");
	}
	
	.bachilleratoImg3 {
		background-image: url("../img/imgBac3-480x200.jpg");
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 479px) {
	.container {
		margin: 0 auto;
		width: 90%;
	}
	
	header {
		padding-bottom: 35px;
	}	
	
	.escudo {
		background-image: url("../img/logo-46x55.png");
		background-repeat: no-repeat;
		display: block;
		float: left;
		margin-right: 10%;
		height: 55px;
		width: 46px;	
	}
	
	.call_to_action {
		float: left;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		width: 50%;
	}
	
	.main_nav {
		margin: 0;
		padding: 0;
		border: none;
		clear: none;
	}
	
	.nav_main {
		width: 50%;
	/*	height: 100%;*/
		left: -100%;
		margin: 34px 0 0 -5%;
		position: absolute;
		border-top: 1px solid rgba(255, 255, 255, .3);
	}
	
	.nav_main ul li {
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		text-align: left;
	}
	
	.nav_main ul li a {
		border-radius: 0;
		margin: 0;
		padding-left: 15%;
	}
	
	.menu_bar {
		display: block;
		width: 100%;
		background-color: #CCCCCC;
	}
	
	.bt-menu {
		background-color: #00192F;
		color: #FFFFFF;
		display: block;
		font-weight: bold;
		padding: 7px 0 30px;
		text-decoration: none;
	}
	
	.menu_bar span {
		float: right;
		font-size: 35px;
	}
	
	.dimImg {
		min-height: 200px;
		max-height: 100%;
		width: 100%;
	}

	.generalImg1 {
		background-image: url("../img/imgGen1-480x200.jpg");
	}
	
	.generalImg2 {
		background-image: url("../img/imgGen2-480x200.jpg");
	}
	
	.generalImg3 {
		background-image: url("../img/imgGen3-480x200.jpg");
	}

	.infantilImg1 {
		background-image: url("../img/imgInf1-480x200.jpg");
	}
	
	.infantilImg2 {
		background-image: url("../img/imgInf2-480x200.jpg");
	}
	
	.infantilImg3 {
		background-image: url("../img/imgInf3-480x200.jpg");
	}
	
	.primariaImg1 {
		background-image: url("../img/imgPri1-480x200.jpg");
	}
	
	.primariaImg2 {
		background-image: url("../img/imgPri2-480x200.jpg");
	}
	
	.primariaImg3 {
		background-image: url("../img/imgPri3-480x200.jpg");
	}

	.secundariaImg1 {
		background-image: url("../img/imgSec1-480x200.jpg");
	}
	
	.secundariaImg2 {
		background-image: url("../img/imgSec2-480x200.jpg");
	}
	
	.secundariaImg3 {
		background-image: url("../img/imgSec3-480x200.jpg");
	}
	
	.bachilleratoImg1 {
		background-image: url("../img/imgBac1-480x200.jpg");
	}
	
	.bachilleratoImg2 {
		background-image: url("../img/imgBac2-480x200.jpg");
	}
	
	.bachilleratoImg3 {
		background-image: url("../img/imgBac3-480x200.jpg");
	}
	
	.etapa {
		margin-top: 30px;
		text-align: justify;
	}
	
	/* Form - Start */
	#formulario {
    	margin: 10px 0;
    	padding: 1px 10px 10px;
	}

	#formulario p {
		margin: 0;
	}
	
	.feedback-input {
		padding: 13px;
		margin-bottom: 10px;
		width: 100%;
	}
	
	.feedback-input:focus {
		padding: 13px 13px 13px 54px;
	}
	
	#button {
		float: left;
		width: 100%;
		font-size: 20px;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	
	.ease {
		height: 68px;
	}
	
	.submit:hover .ease {
		width: 100%;
	}
	
	/* Form - End */
}

@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
	.container {
		margin: 0 auto;
		width: 90%;
	}
	
	header {
		padding-bottom: 35px;
	}
	
	.escudo {
		background-image: url("../img/logo-46x55.png");
		background-repeat: no-repeat;
		display: block;
		float: left;
		margin-right: 18%;
		height: 55px;
		width: 46px;	
	}
	
	.call_to_action {
		float: left;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		width: 50%;
	}
	
	.main_nav {
		margin: 0;
		padding: 0;
		border: none;
		clear: none;
	}
	
	.nav_main {
		width: 40%;
	/*	height: 100%;*/
		left: -100%;
		margin: 34px 0 0 -5%;
		position: absolute;
		border-top: 1px solid rgba(255, 255, 255, .3);
	}
	
	.nav_main ul li {
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		text-align: left;
	}
	
	.nav_main ul li a {
		border-radius: 0;
		margin: 0;
		padding-left: 15%;
	}
	
	.menu_bar {
		display: block;
		width: 100%;
		background-color: #CCCCCC;
	}
	
	.bt-menu {
		background-color: #00192F;
		color: #FFFFFF;
		display: block;
		font-weight: bold;
		padding: 7px 0 30px;
		text-decoration: none;
	}
	
	.menu_bar span {
		float: right;
		font-size: 35px;
	}
	
	.dimImg {
		min-height: 200px;
		max-height: 100%;
		width: 100%;
	}

	.generalImg1 {
		background-image: url("../img/imgGen1-768x200.jpg");
	}
	
	.generalImg2 {
		background-image: url("../img/imgGen2-768x200.jpg");
	}
	
	.generalImg3 {
		background-image: url("../img/imgGen3-768x200.jpg");
	}

	.infantilImg1 {
		background-image: url("../img/imgInf1-768x200.jpg");
	}
	
	.infantilImg2 {
		background-image: url("../img/imgInf2-768x200.jpg");
	}
	
	.infantilImg3 {
		background-image: url("../img/imgInf3-768x200.jpg");
	}
	
	.primariaImg1 {
		background-image: url("../img/imgPri1-768x200.jpg");
	}
	
	.primariaImg2 {
		background-image: url("../img/imgPri2-768x200.jpg");
	}
	
	.primariaImg3 {
		background-image: url("../img/imgPri3-768x200.jpg");
	}

	.secundariaImg1 {
		background-image: url("../img/imgSec1-768x200.jpg");
	}
	
	.secundariaImg2 {
		background-image: url("../img/imgSec2-768x200.jpg");
	}
	
	.secundariaImg3 {
		background-image: url("../img/imgSec3-768x200.jpg");
	}
	
	.bachilleratoImg1 {
		background-image: url("../img/imgBac1-768x200.jpg");
	}
	
	.bachilleratoImg2 {
		background-image: url("../img/imgBac2-768x200.jpg");
	}
	
	.bachilleratoImg3 {
		background-image: url("../img/imgBac3-768x200.jpg");
	}

	.etapa {
		margin-top: 30px;
		text-align: justify;
	}
	
	/* Form - Start */
	#formulario {
		margin: 55px 0;
		padding: 5px 35px 25px;
	}
	
	.feedback-input {
		padding: 13px 13px 13px 54px;
		margin-bottom: 10px;
		width: 100%;
	}
	
	.feedback-input:focus {
		padding: 13px 13px 13px 54px;
	}
	
	#button {
		float: left;
		width: 100%;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	
	.submit:hover .ease {
		width: 100%;
	}
	
	/* Form - End */
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	.container {
		max-width: 960px;
		margin: 0 auto;
		width: 90%;
	}
	
	.escudo {
		background-image: url("../img/logo-212x72.jpg");
		background-repeat: no-repeat;
		display: block;
		float: left;
		height: 72px;
		width: 212px;	
	}
	
	.nav_main a {
		margin: 0 1%;
	}
	
	.dimImg {
		min-height: 300px;
		max-height: 100%;
		width: 100%;
	}

	.generalImg1 {
		background-image: url("../img/imgGen1-1024x300.jpg");
	}
	
	.generalImg2 {
		background-image: url("../img/imgGen2-1024x300.jpg");
	}
	
	.generalImg3 {
		background-image: url("../img/imgGen3-1024x300.jpg");
	}

	.infantilImg1 {
		background-image: url("../img/imgInf1-1024x300.jpg");
	}
	
	.infantilImg2 {
		background-image: url("../img/imgInf2-1024x300.jpg");
	}
	
	.infantilImg3 {
		background-image: url("../img/imgInf3-1024x300.jpg");
	}
	
	.primariaImg1 {
		background-image: url("../img/imgPri1-1024x300.jpg");
	}
	
	.primariaImg2 {
		background-image: url("../img/imgPri2-1024x300.jpg");
	}
	
	.primariaImg3 {
		background-image: url("../img/imgPri3-1024x300.jpg");
	}

	.secundariaImg1 {
		background-image: url("../img/imgSec1-1024x300.jpg");
	}
	
	.secundariaImg2 {
		background-image: url("../img/imgSec2-1024x300.jpg");
	}
	
	.secundariaImg3 {
		background-image: url("../img/imgSec3-1024x300.jpg");
	}
	
	.bachilleratoImg1 {
		background-image: url("../img/imgBac1-1024x300.jpg");
	}
	
	.bachilleratoImg2 {
		background-image: url("../img/imgBac2-1024x300.jpg");
	}
	
	.bachilleratoImg3 {
		background-image: url("../img/imgBac3-1024x300.jpg");
	}
	
	.etapa {
		margin-top: 30px;
		text-align: justify;
	}
	
	/* Form - Start */
	#formulario {
		margin: 55px 0;
		padding: 5px 35px 25px;
	}
	
	.feedback-input {
		padding: 13px 13px 13px 54px;
		margin-bottom: 10px;
		width: 100%;
	}
	
	.feedback-input:focus {
		padding: 13px 13px 13px 54px;
	}
	
	#button {
		float: left;
		width: 100%;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	
	.submit:hover .ease {
		width: 100%;
	}
	
	/* Form - End */
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
	.container {
		max-width: 960px;
		margin: 0 auto;
		width: 90%;
	}
	
	.escudo {
		background-image: url("../img/logo-212x72.jpg");
		background-repeat: no-repeat;
		display: block;
		float: left;
		height: 72px;
		width: 212px;	
	}
	
	.nav_main a {
		margin: 0 10px;
	}
	
	.dimImg {
		min-height: 300px;
		max-height: 100%;
		width: 100%;
	}

	.generalImg1 {
		background-image: url("../img/imgGen1-1280x300.jpg");
	}
	
	.generalImg2 {
		background-image: url("../img/imgGen2-1280x300.jpg");
	}
	
	.generalImg3 {
		background-image: url("../img/imgGen3-1280x300.jpg");
	}

	.infantilImg1 {
		background-image: url("../img/imgInf1-1280x300.jpg");
	}
	
	.infantilImg2 {
		background-image: url("../img/imgInf2-1280x300.jpg");
	}
	
	.infantilImg3 {
		background-image: url("../img/imgInf3-1280x300.jpg");
	}
	
	.primariaImg1 {
		background-image: url("../img/imgPri1-1280x300.jpg");
	}
	
	.primariaImg2 {
		background-image: url("../img/imgPri2-1280x300.jpg");
	}
	
	.primariaImg3 {
		background-image: url("../img/imgPri3-1280x300.jpg");
	}

	.secundariaImg1 {
		background-image: url("../img/imgSec1-1280x300.jpg");
	}
	
	.secundariaImg2 {
		background-image: url("../img/imgSec2-1280x300.jpg");
	}
	
	.secundariaImg3 {
		background-image: url("../img/imgSec3-1280x300.jpg");
	}
	
	.bachilleratoImg1 {
		background-image: url("../img/imgBac1-1280x300.jpg");
	}
	
	.bachilleratoImg2 {
		background-image: url("../img/imgBac2-1280x300.jpg");
	}
	
	.bachilleratoImg3 {
		background-image: url("../img/imgBac3-1280x300.jpg");
	}
	
	.etapa {
		float: left;
		margin-right: 5%;
		margin-top: 30px;
		text-align: justify;
		width: 50%;	
	}
	
	/* Form - Start */
	#formulario {
		float: right;
		margin: 55px 0;
		padding: 5px 35px 25px;
		width: 35%;
	}
	
	.feedback-input {
		padding: 13px 13px 13px 54px;
		margin-bottom: 10px;
		width: 100%;
	}
	
	.feedback-input:focus {
		padding: 13px 13px 13px 54px;
	}
	
	#button {
		float: left;
		width: 100%;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	
	.submit:hover .ease {
		width: 100%;
	}
	
	/* Form - End */
}

@media screen and (min-device-width: 1280px) {
	.container {
		max-width: 1170px;
		margin: 0 auto;
		width: 90%;
	}
	
	.escudo {
		background-image: url("../img/logo-212x72.jpg");
		background-repeat: no-repeat;
		display: block;
		float: left;
		height: 72px;
		width: 212px;	
	}
	
	.nav_main a {
		margin: 0 10px;
	}

	.dimImg {
		min-height: 400px;
		max-height: 100%;
		width: 100%;
	}

	.generalImg1 {
		background-image: url("../img/imgGen1-2500x400.jpg");
	}
	
	.generalImg2 {
		background-image: url("../img/imgGen2-2500x400.jpg");
	}
	
	.generalImg3 {
		background-image: url("../img/imgGen3-2500x400.jpg");
	}

	.infantilImg1 {
		background-image: url("../img/imgInf1-2500x400.jpg");
	}
	
	.infantilImg2 {
		background-image: url("../img/imgInf2-2500x400.jpg");
	}
	
	.infantilImg3 {
		background-image: url("../img/imgInf3-2500x400.jpg");
	}
	
	.primariaImg1 {
		background-image: url("../img/imgPri1-2500x400.jpg");
	}
	
	.primariaImg2 {
		background-image: url("../img/imgPri2-2500x400.jpg");
	}
	
	.primariaImg3 {
		background-image: url("../img/imgPri3-2500x400.jpg");
	}

	.secundariaImg1 {
		background-image: url("../img/imgSec1-2500x400.jpg");
	}
	
	.secundariaImg2 {
		background-image: url("../img/imgSec2-2500x400.jpg");
	}
	
	.secundariaImg3 {
		background-image: url("../img/imgSec3-2500x400.jpg");
	}
	
	.bachilleratoImg1 {
		background-image: url("../img/imgBac1-2500x400.jpg");
	}
	
	.bachilleratoImg2 {
		background-image: url("../img/imgBac2-2500x400.jpg");
	}
	
	.bachilleratoImg3 {
		background-image: url("../img/imgBac3-2500x400.jpg");
	}

	.etapa {
		float: left;
		margin-right: 5%;
		margin-top: 30px;
		text-align: justify;
		width: 50%;	
	}
	
	/* Form - Start */
	#formulario {
		float: right;
		margin: 30px 0;
		padding: 5px 35px 25px;
		width: 35%;
	}
	
	.feedback-input {
		padding: 13px 13px 13px 54px;
		margin-bottom: 10px;
		width: 100%;
	}
	
	.feedback-input:focus {
		padding: 13px 13px 13px 54px;
	}
	
	#button {
		float: left;
		width: 100%;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	
	.submit:hover .ease {
		width: 100%;
	}
	
	/* Form - End */
}
/* Mediaqueries - End */
